# Ignore virtual environments
.venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# VSCode settings (optional)
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env
*.env

# macOS and system files
.DS_Store